nav {
  width: 100%;
  height: 90px;
  background-color: rgb(16, 2, 56);
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 100%;
}

.navlink {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
}

.navlink:active {
  color: yellow;
}

.active {
  color: yellow;
}